body {
  background:#FFFFE0 
font-family: Arial, sans-serif;
  .kartu-profil {
    width:300px;
    margian: 50px auto;
    padding: 20px;
    baground-color: white;
    border-radius: 15px;
    box-shadow: O 4px 8px rgba(O,O,O,O.1);
  }
